@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.table {
    @apply rounded-none;
}

.hover {
    @apply bg-secondary;
}

@layer components {
    .tag {
        @apply w-24 h-10 rounded-full text-base-100 flex items-center justify-evenly;
    }

    .shadow-mgen {
        @apply shadow-[5px_5px_0_0_rgba(106,165,23,0.12)];
    }
    .card {
        @apply group-hover:hidden animate-smoothappear text-3xl
    }
    .card-hover {
        @apply hidden group-hover:block w-full
    }

    .board {
        @apply grid gap-4 p-4 border border-secondary rounded-xl my-2 shadow-mgen
    }

    .eventCard-replay {
        @apply grid grid-cols-2 gap-2 place-content-center text-center bg-secondary/30 py-2 rounded-lg h-24
    }
    .home-icon {
        @apply w-full h-full bg-secondary text-primary rounded-[40px] group-hover:text-white group-hover:bg-primary p-2 transition-all
    }
    .home-title {
        @apply text-sm md:text-xl md:font-bold text-center pt-4 text-black/50 group-hover:text-black transition-all
    }
}